html {
  height: 100%;
}

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('images/MaroonBells.jpeg'); 
  background-size: cover;
  background-position: center;
}

.about-text {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px auto 0 auto;
  max-width: 80%;
}

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('images/TopOfGraysPeak.jpeg'); 
  background-size: cover;
  background-position: center;
}

.contact-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px auto 0 auto;
  max-width: 70%;
}

.resume {
  position: relative;
  width: 100%;
  background-image: url('images/ResumeBackground.jpeg'); 
  background-size: cover;
}

.resume-sections {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 0 auto;
  max-width: 90%;
}

table {
  margin: 0 auto; 
  border-collapse: collapse; 
  width: 80%; 
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.project-section {
  position: relative;
  width: 100%;
  background-image: url('images/PortfolioBackground.jpeg'); 
  background-size: cover;
}

.project-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 0 auto;
  max-width: 90%;
}

.blog {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('images/RedRock.jpeg'); 
  background-size: cover;
}

.blog-posts {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 0 auto;
  max-width: 90%;
}


.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: black;
  color: white;
  padding: 0px 0px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
